<ion-header>
  <ion-toolbar>
    <ion-title>
     Criptocoins Bank YachayTech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-button *ngIf = "!registrado" expand="block" (click)= "register()">Register</ion-button>
<ion-button *ngIf = "registrado" expand="block" (click)= "register()">Logged</ion-button>

<ion-button class = "ganador" *ngIf = "registrado " expand="block" color = "success">{{this.estado}} </ion-button>
<ion-button *ngFor = "let h of Hash2.reverse()" class = "clave" expand="block" color = "medium" text-wrap >{{h}}</ion-button>



</ion-content>
